/* _variables.scss */

/* Cores */
$verde: #04D361;
$roxo: #899BFF;

//Roxo Hover
$roxo-hover: #899bff95;


/* Cores Neutras*/
$escuro: #0C0C0C;
$escuro-200: #212529;
$cinza: #AEAEAE;
$claro: #F9f9f9;

/* Fontes */
$font-inter: 'Inter', sans-serif;
$font-Sora: 'Sora', sans-serif;